<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/estilo.css">
    <title>Inteligencia Artificial - Django</title>
</head>
<body style="background: url(./static/fondo.jpg)">

    <div class="container">

        <div class="main">
            <h1 style="color: white;"> Chatbot básico </h1>
        </div>

        <div class="admin">
            <a href="/admin"> Ir al admin... </a>
        </div>

    </div>

</body>
</html>